<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <% data.forEach(element=> { %>
                    <a href="/product/<%= element.id %>" class="link-underline-light">
                        <%- include('partials/product',element) %>
                    </a>

                    <% }) %>
            </div>
        </div>
    </div>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>