<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card my-3">
                    <div class="row">
                        <div class="col-4">
                            <img class="img-fluid rounded-start w-10" src="/images/<%= imageUrl %>" alt="">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= name %>
                                </h5>
                                <p class="card-text">
                                    <%= price %>
                                </p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore deserunt ab magni ex facilis, quos, rem quibusdam, soluta eaque illum laudantium. Voluptas nemo, nostrum odit sequi eveniet ratione dolorum nobis.</p>

                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam consequatur quo sapiente voluptatem? Suscipit libero sint ipsa minima excepturi nisi facere ratione rem praesentium aliquid molestias incidunt aliquam, adipisci error?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>